/* Add your CSS code below */
a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
.message__time {
  font-size: 0.9rem;
}
.message__time message__time--old {
  opacity: 1;
}
.messages {
  line-height: 100%;
}
