/* Try different box model properties below */
div > div > p {
  color: white;
  margin-bottom: 1px;
}
div > div > div > time {
  font-size: 12px;
  text-align: center;
}
p :last-child {
  box-shadow: 4px 4px 0 #dba944;
}
